<h2>Restaurants</h2>
<div class="relative">
  <div id="float_menu">
    <div class="float">
    <%= link_to "New restaurant", new_restaurant_path(), class: "button new_restaurant_button" %>
    </div>
  </div>
</div>
<div class="clear space_4"></div>
<div style="font-weight:bold; margin: 20px 10px; display:inline-block;">Filter by</div>
<% if @tags.count > 0 %>
  <%= link_to "All", restaurants_path, class: "button" %>
<% end %>
<% if @tags.count > 0 %>
  <%= link_to "Unreviewed", restaurant_tag_path("unreviewed"), class: "button" %>
<% end %>
<% @tags.each do |t| %>
  <%= link_to t.name, restaurant_tag_path(t.name), class: "button" %>
<% end %>
<div style="float:right;font-weight:bold; margin: 10px 10px; display:inline-block;">Showing <%= @restaurants.count %> results</div>
<div class="clear"></div>
<% @restaurants.each_with_index do |r, i| %>
  <div class="review_item">
    <h6><%= link_to r.name, r %></h6>
    District: <strong><%= r.district %></strong><br/>
    Tag: <strong><%= r.tag_list %></strong><br />
    Price: <strong><%= r.price %></strong>
    <div class="space_4"></div>
    <strong><%= link_to "Website", r.website, target: "_blank" %></strong>
  </div>
  <% if i % 2 == 1 %>
  <div class="clear"></div>
  <% end %>
<% end %>

<% if @restaurants.count == 0 %>
<p>No restaurants found</p>
<% end %>
<div class="clear"></div>
