<%= form_for @review do |f| %>
  <%= fields_for @restaurant do |r| %>
  <h3>Restaurant</h3>
    <% if @restaurant.name and action_name == "new" %>
      <%= r.hidden_field :id %>
    <% end %>
    <p>
    	<%= r.label :name %><br />
      <%= r.text_field :name %>
    </p>
    <p>
    	<%= r.label :address %><br />
      <%= r.text_field :address %>
    </p>
    <p>
      <%= r.label :district %><br />
      <%= r.text_field :district %>
    </p>
    <p>
    	<%= r.label :website %><br />
      <%= r.url_field :website %>
    </p>
    <p>
      <%= r.label :image %><br />
      <%= r.url_field :image %>
    </p>
    <p>
      <%= r.label :price %><br />
      <%= r.text_field :price %>
    </p>
    <p>
      <%= r.label :tags %><br />
      <%= r.text_field :tag_list %>
    </p>
  <% end %>
  <h3>Review</h3>
  <p>
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.label :food %><br />
    <%= f.text_area :food %>
  </p>
  <p>
    <%= f.label :with %><br />
    <%= f.text_field :with %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :rating_atmosphere, "Atmosphere = " %><br />
    <%= f.range_field :rating_atmosphere, :in => 1..10, :step => 1 %>
  </p>
  <p>
    <%= f.label :rating_service, "Service = " %><br />
    <%= f.range_field :rating_service, :in => 1..10, :step => 1 %>
  </p>
  <p>
    <%= f.label :rating_food, "Food = " %><br />
    <%= f.range_field :rating_food, :in => 1..10, :step => 1 %>
  </p>
  <p>
    <%= f.label :rating_location, "Location = " %><br />
    <%= f.range_field :rating_location, :in => 1..10, :step => 1 %>
  </p>
  <p>
    <%= f.label :rating_overall, "Overall = " %><br />
    <%= f.range_field :rating_overall, :in => 1..10, :step => '.5' %>
  </p>
  <p>
  	<%= f.submit "Submit" %>
  </p>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
  function create_slider(id) {
    $slider = $(id);
    $label = $slider.siblings("label");
    $slider.data("orig_text", $label.text());
    $label.text($slider.data("orig_text") + $slider.val());
    $slider.change(function() {
      $input_value = $(this).val();
      $label = $(this).siblings("label");
      $label.text($(this).data("orig_text") + $input_value);
    });
  }
  create_slider("#review_rating_atmosphere");
  create_slider("#review_rating_service");
  create_slider("#review_rating_food");
  create_slider("#review_rating_location");
  create_slider("#review_rating_overall");
});
</script>
