<!DOCTYPE html>
<html>
<head>
  <title>GastronoMeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.23&amp;sensor=false&amp;libraries=geometry" %>
  <%= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>GastronoMe</h1>
    </div>
    <div id="leftnav">
      <%= link_to image_tag(asset_path("review_compressed.jpg"), class: "nav_image") + content_tag(:div, "Reviews", :class => "nav_text"), reviews_path %><br />
      <%= link_to image_tag(asset_path("restaurant_compressed_hover.jpg"), class: "nav_image") + content_tag(:div, "Restaurants", :class => "nav_text"), restaurants_path %>
      <%= link_to image_tag(asset_path("map_compressed.jpg"), class: "nav_image") + content_tag(:div, "Map", :class => "nav_text"), map_path %>
      
    </div>
    <div id="content">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    
      <%= yield %>
    </div>
  </div>
</body>
</html>
